button
{
    margin-right: 20px;
}
spa
{
    margin-right: 50px;
}
.navbar
{
    justify-content: space-between;
}
span
{
    padding-right: 1rem;
}
mat-sidenav-container
{
    height: 100%;
}
mat-sidenav,mat-sidenav-content
{
    padding: 16px;
}
mat-sidenav
{
    background-color: aquamarine;

}
mat-grid-tile
{
    background-color:lightblue;
}
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  table {
    width: 100%;
  }
  
  button {
    margin: 16px 8px;
  }